In [2]:
import pandas as pd
from datetime import datetime

import great_expectations as gx
from great_expectations.core.expectation_configuration import ExpectationConfiguration

from ydata_profiling import ProfileReport
from ydata_profiling.config import Settings
from ydata_profiling.model import BaseDescription, expectation_algorithms
from ydata_profiling.model.handler import Handler
from ydata_profiling.utils.dataframe import slugify
from ydata_profiling.expectations_report import ExpectationsReport
from great_expectations.checkpoint import SimpleCheckpoint

from typing import Any, Optional

import pandas as pd
from visions import VisionsTypeset
import re
import os

In [60]:
full_path = os.getcwd()
df = pd.read_csv(full_path.partition('notebooks')[0] + 'data/01_raw/Customers.csv')
features = pd.read_csv(full_path.partition('notebooks')[0] + 'data/03_primary/customer_behavior_features.csv')
features

,CustomerId,CreditType,CreditAmount,Duration_Months,NumberOfInstallmentsToPay,PaymentFrequency,HasDefault,run_date,Avg_Monthly_Income,Income_Stability,Avg_Monthly_expenses,Expenses_Stability,Avg_Monthly_Funds,Funds_Stability,Previous_Loan_Count,Previous_Loans_Avg_Amount,Previous_Loans_Std,Previous_Loan_Defaults,Active_Loans_Count,Active_Loan_Amount_Total
0,117007,Personal Credit,82482.92,61,62.0,Monthly,0,20240131,3.601185e+04,3.342421e+04,8.600063e+04,3.999571e+04,0.000000e+00,0.000000e+00,2.0,2.874314e+05,3.852761e+05,0.0,2.0,491424.44
1,116276,Credit Card,49000.00,36,0.0,Monthly,0,20240131,7.548862e+04,3.611696e+04,7.788690e+04,5.238616e+04,3.801056e+04,6.353226e+03,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.00
2,76794,Credit Card,500000.00,36,0.0,Monthly,0,20240131,5.870484e+05,3.890592e+05,5.989483e+05,3.283760e+05,9.258650e+04,2.499265e+04,1.0,5.000000e+05,0.000000e+00,0.0,1.0,262077.59
3,54604,Credit Card,350000.00,36,0.0,Monthly,0,20240131,1.910198e+05,1.892837e+05,1.757642e+05,1.931654e+05,5.684110e+04,5.399388e+03,2.0,3.000000e+05,0.000000e+00,0.0,1.0,65070.12
4,49422,Personal Credit,1000000.00,13,14.0,Monthly,0,20240131,9.944249e+05,8.367923e+05,1.262579e+06,2.147571e+06,8.456763e+06,2.020970e+06,2.0,5.660000e+04,0.000000e+00,0.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3549,70167,Arranged Overdraft,5000.00,16,0.0,Single,0,20240331,1.283373e+04,5.599957e+03,1.276667e+04,2.950141e+03,3.540704e+03,1.705171e+03,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.00
3550,77540,Arranged Overdraft,8245.00,16,0.0,Single,0,20240331,2.375004e+04,8.789225e+02,1.990167e+04,1.412316e+04,2.570945e+03,2.642603e+03,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.00
3551,69698,Arranged Overdraft,5000000.00,13,0.0,Single,0,20240331,6.767302e+06,1.580004e+06,6.003271e+06,2.402804e+06,1.993303e+06,1.448528e+05,6.0,2.834341e+06,2.335792e+06,0.0,6.0,10997557.52
3552,82824,Leasing,5932670.67,24,25.0,Monthly,0,20240331,3.630205e+07,1.031202e+07,3.581684e+07,8.806611e+06,2.209074e+07,2.351172e+06,13.0,4.763847e+06,4.062182e+06,0.0,8.0,21355232.93
3553,98280,Leasing,1450000.00,36,37.0,Monthly,0,20240331,1.545373e+07,2.361341e+07,1.282280e+07,1.769542e+07,2.971409e+06,1.639670e+06,1.0,1.600000e+06,0.000000e+00,0.0,1.0,1440000.00

In [65]:
df.select_dtypes(exclude='number').dtypes

CustomerSince                 object
CustomerStatus                object
DateOfBirth                   object
EmploymentStatus              object
Gender                        object
MaritalStatus                 object
Placebrth                     object
CustType                      object
Nationality                   object
OcupationDesc                 object
ResidenceCode                 object
ResidenceStatus               object
ResidenceType                 object
SegGroup                      object
Title                         object
TownCountry                   object
BirthInCorpDate               object
CustType.1                    object
Habliter                      object
Province                      object
District                      object
LegalDocName1IdDescription    object
LegalIssDate                  object
LegalExpDate                  object
LegalIssAuth                  object
AMLRiskRating                 object
dtype: object

In [48]:
df = pd.merge(df, features, left_on='NewId', right_on='CustomerId', how='right')
df = df.drop(columns=['NewId'])

In [51]:
for c in ['NoOfDependents', 'SegmentId', 'IndustryId', 'LegalDocName1Id', 'CustomerId', 'Duration_Months', 'NumberOfInstallmentsToPay', 'HasDefault',
       'run_date', 'Previous_Loan_Count',  'Previous_Loan_Defaults', 'Active_Loans_Count']:
    df[c] = df[c].fillna(-1)
    df[c] = df[c].astype('int')

In [52]:
df.columns = [re.sub(r'(?<!^)(?=[A-Z])', '_', col).lower() for col in df.columns]
df.columns = df.columns.str.replace('.', '', regex=False)
df.columns = df.columns.str.replace('__', '_', regex=False)

In [56]:
df.select_dtypes('int64').describe()

,no_of_dependents,segment_id,industry_id,legal_doc_name1_id,customer_id,duration_months,number_of_installments_to_pay,has_default,run_date,previous_loan_count,previous_loan_defaults,active_loans_count
count,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3.554000e+03,3554.000000,3554.000000,3554.000000
mean,-0.990715,1.051491,81627.298818,1.537704,58522.869724,54.293191,53.897580,0.020259,2.024025e+07,0.136466,0.000563,0.075689
std,0.171657,0.354131,15212.775499,3.412344,34904.137427,13.247631,17.135236,0.140904,8.242233e+01,1.027734,0.023719,0.814767
min,-1.000000,1.000000,-1.000000,1.000000,221.000000,11.000000,0.000000,0.000000,2.024013e+07,0.000000,0.000000,0.000000
25%,-1.000000,1.000000,85102.000000,1.000000,27635.500000,60.000000,61.000000,0.000000,2.024013e+07,0.000000,0.000000,0.000000
50%,-1.000000,1.000000,85103.000000,1.000000,57748.500000,60.000000,61.000000,0.000000,2.024023e+07,0.000000,0.000000,0.000000
75%,-1.000000,1.000000,85222.000000,1.000000,89035.500000,60.000000,61.000000,0.000000,2.024033e+07,0.000000,0.000000,0.000000
max,3.000000,11.000000,97000.000000,33.000000,122189.000000,65.000000,66.000000,1.000000,2.024033e+07,29.000000,1.000000,29.000000

In [59]:
df.select_dtypes('float64').columns

Index(['yr_net_monthly_in', 'credit_amount', 'avg_monthly_income',
       'income_stability', 'avg_monthly_expenses', 'expenses_stability',
       'avg_monthly_funds', 'funds_stability', 'previous_loans_avg_amount',
       'previous_loans_std', 'active_loan_amount_total'],
      dtype='object')

In [151]:
for c in ['customer_since', 'date_of_birth', 'birth_in_corp_date']:
    df[c] = pd.to_datetime(df[c], format = "%Y-%m-%d", errors="coerce")
    df[c] = df[c].apply(
        lambda x: x.strftime('%Y-%m-%d') if pd.notnull(x) else None
    )
    #df[c] = df[c].astype("object").where(df[c].notna(), None)


def safe_parse(val):
    try:
        if pd.isna(val):
            return None
        val_str = str(int(val))  # Convert float like 20250101.0 to '20250101'
        return datetime.strptime(val_str, "%Y%m%d").strftime('%Y-%m-%d')
    except ValueError:
        return None  # Or return None

for c in ['legal_iss_date', 'legal_exp_date']:
    df[c] = df[c].str.split('ý').str[-1]
    df[c] = df[c].apply(safe_parse)

#df['legal_exp_date'] = df['legal_exp_date'].apply(lambda x: x.strftime('%Y-%m-%d') if pd.notnull(x) else None)

for c in ['no_of_dependents', 'segment_id', 'industry_id', 'legal_doc_name1_id']:
    # Convert to Int64 (nullable int)
    df[c] = df[c].fillna(-1)
    df[c] = df[c].astype('int')

In [152]:
df.dtypes

new_id                              int64
customer_since                     object
customer_status                    object
date_of_birth                      object
employment_status                  object
gender                             object
marital_status                     object
placebrth                          object
cust_type                          object
nationality                        object
no_of_dependents                    int64
ocupation_desc                     object
residence_code                     object
residence_status                   object
residence_type                     object
segment_id                          int64
seg_group                          object
title                              object
town_country                       object
birth_in_corp_date                 object
cust_type1                         object
industry_id                         int64
habliter                           object
province                           object
district                           object
legal_doc_name1_id                  int64
legal_doc_name1_id_description     object
legal_iss_date                     object
legal_exp_date                     object
legal_iss_auth                     object
a_m_l_risk_rating                  object
yr_net_monthly_in                 float64
dtype: object

In [153]:
df.date_of_birth

0               None
1               None
2               None
3               None
4         2012-07-01
             ...
122207    1973-01-16
122208    1978-01-10
122209    1964-01-16
122210          None
122211    2007-07-24
Name: date_of_birth, Length: 122212, dtype: object

## Split the data in one part as your reference dataset and the other as your analysis dataset

In [155]:
# df_ref = df[df.customer_since.dt.year != 2025]
df_ref = df[~df['customer_since'].str.startswith('2025')]
df_ref

,new_id,customer_since,customer_status,date_of_birth,employment_status,gender,marital_status,placebrth,cust_type,nationality,...,habliter,province,district,legal_doc_name1_id,legal_doc_name1_id_description,legal_iss_date,legal_exp_date,legal_iss_auth,a_m_l_risk_rating,yr_net_monthly_in
0,1,2012-05-23,Private Client - Standard,None,NaN,FEMALE,NaN,NaN,NaN,Portugal,...,NaN,NaN,NaN,-1,NaN,None,None,NaN,Elevado,NaN
1,2,2022-11-30,Private Client - Standard,None,NaN,MALE,NaN,NaN,NaN,Mozambique,...,NaN,NaN,NaN,-1,NaN,None,None,NaN,Medio,NaN
2,3,2022-11-30,Private Client - Standard,None,NaN,MALE,NaN,NaN,NaN,Mozambique,...,NaN,NaN,NaN,-1,NaN,None,None,NaN,Medio,NaN
3,4,2022-11-30,Private Client - Standard,None,NaN,MALE,NaN,NaN,NaN,Mozambique,...,NaN,NaN,NaN,-1,NaN,None,None,NaN,Elevado,NaN
4,5,2013-11-14,Private Client - Standard,2012-07-01,MB,MALE,OTHER,NACALA PORTO,NaN,Mozambique,...,NaN,NAMPULA,NACALA-PORTO,36,Licenca/Alvara,2012-11-13,2050-11-13,NAMPULA,Medio,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122207,122208,2016-11-29,Private Client - Standard,1973-01-16,EMPLOYED,MALE,DIVORCED,ISRAEL,RETAIL,Israel,...,Curso Superior,CABO DELGADO,MAHATE,2,DIRE,2025-05-20,2028-05-19,MIGRACAOýMAIRRO MAHATEýREEF INVESTIMENTOS,Baixo,346500.0
122208,122209,2021-07-23,Private Client - Standard,1978-01-10,EMPLOYED,MALE,SINGLE,ZIMBABWE,NaN,Zimbabwe,...,NaN,MAPUTO,MATOLA 'A',3,Passaporte,2017-06-14,2027-06-13,REPUBLIC OF ZIMBABWE,Medio,3000.0
122209,122210,2017-12-04,Private Client - Standard,1964-01-16,MB,MALE,DIVORCED,HLATHIKHULU,RETAIL,South Africa,...,NaN,NaN,NaN,3,Passaporte,2016-10-13,2026-10-12,NaN,Baixo,NaN
122210,122211,2017-12-04,Corporate - Small,None,NaN,NaN,NaN,NaN,RETAIL,Mozambique,...,NaN,CIDADE DE MAPUTO,BAIRRO DE SOMMERSHIELD,24,Certidao da Conservatoria de Regist,2017-12-06,2099-12-06,CONSERVATORIAýDIRECCAO DE CULTURA,Baixo,NaN
122211,122212,2012-06-21,Private Client - Standard,2007-07-24,NaN,MALE,SINGLE,MAPUTO,RETAIL,Mozambique,...,Ensino Primario,CIDADE DE MAPUTO,HULENE 'A',1,BI,2021-07-28,2026-07-27,DNIC MAPUTO,Elevado,NaN

In [156]:
# df_ana = df[df.customer_since.dt.year == 2025]
df_ana = df[df['customer_since'].str.startswith('2025')]
df_ana

,new_id,customer_since,customer_status,date_of_birth,employment_status,gender,marital_status,placebrth,cust_type,nationality,...,habliter,province,district,legal_doc_name1_id,legal_doc_name1_id_description,legal_iss_date,legal_exp_date,legal_iss_auth,a_m_l_risk_rating,yr_net_monthly_in
147,148,2025-02-22,Private Client - Standard,None,NaN,NaN,NaN,NaN,NaN,Mozambique,...,NaN,SOFALA,CHAMITE,24,Certidao da Conservatoria de Regist,2025-02-18,2049-02-18,CONSERVATORIA DAS ENTIDADES LEGAISýBAU BEIRA,Baixo,NaN
150,151,2025-02-27,Corporate - Medium,None,NaN,NaN,NaN,NaN,PROSPECT,Mozambique,...,NaN,CIDADE DE MAPUTO,MALANGA,29,Certidao de Registo / Ministerio da,2025-02-13,2050-02-13,CONSERVATORIA ENTIDADES LEGAISýBAU,Elevado,NaN
175,176,2025-05-08,Private Client - Standard,None,NaN,NaN,NaN,NaN,CORPORATE,Mozambique,...,NaN,CABO DELGADO,PEMBA CIDADE,28,Licenca / Alvara para o exercicio d,2025-04-25,2049-04-25,BAUýCONSERVATORIA DAS ENTIDADES LEGAIS,Elevado,NaN
181,182,2025-02-25,Corporate - Small,None,NaN,NaN,NaN,NaN,RETAIL,Mozambique,...,NaN,CIDADE DE MAPUTO,MALHANGALAENE 'A',24,Certidao da Conservatoria de Regist,2025-02-12,2049-02-12,MINISTERIO DA JUSTICAýBAU,Medio,NaN
205,206,2025-03-29,Private Client - Standard,None,NaN,NaN,NaN,NaN,RETAIL,Mozambique,...,NaN,CIDADE DE MAPUTO,CHAMANCULO 'A',24,Certidao da Conservatoria de Regist,2023-07-13,2099-12-31,MINISTERIO DA JUSTICAýBALCAO ATENDIMENTO UNICO,Elevado,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122145,122146,2025-05-16,Private Client - Standard,1981-11-11,NaN,FEMALE,OTHER,PORTUGAL,NaN,Mozambique,...,NaN,NaN,NaN,3,Passaporte,2020-10-20,2025-10-20,NaN,Elevado,NaN
122166,122167,2025-04-29,Private Client - Standard,1986-02-24,NaN,MALE,SINGLE,BEIRA,RETAIL,Mozambique,...,Bacharelato,SOFALA,BEIRA CIDADE,1,BI,2023-08-28,2028-08-27,DIC BEIRA,Elevado,NaN
122191,122192,2025-05-27,Private Client - Standard,1980-07-07,NaN,FEMALE,SINGLE,INHASSUNGE,RETAIL,Mozambique,...,Bacharelato,ZAMBEZIA,MOPEIA,1,BI,2024-07-05,2034-07-04,DIC QUELIMANE,Elevado,NaN
122197,122198,2025-03-21,Private Client - Standard,2024-08-10,NaN,FEMALE,SINGLE,MAPUTO,NaN,Mozambique,...,Ate12 ano,CIDADE DE MAPUTO,ALTO MAE 'B',1,BI,2025-02-28,2030-02-27,DNIC - MAPUTO,Baixo,NaN
122199,122200,2025-01-23,Private Client - Standard,1995-10-30,EMPLOYED,FEMALE,SINGLE,QUELIMANE,NaN,Mozambique,...,Ate12 ano,MAPUTO,MATOLA-GARE,1,BI,2023-04-03,2028-04-02,DIC MATOLA,Baixo,8900.0

In [6]:
full_path = os.getcwd()
context = gx.get_context(context_root_dir = full_path.partition('notebooks')[0] + 'gx')

In [158]:
datasource_name = "project_data_cleaned"
try:
    datasource = context.sources.add_pandas(datasource_name)
except:
    print("Data Source already exists.")
    datasource = context.datasources[datasource_name]

In [159]:
data_asset_name = "project_ana"
try:
    data_asset = datasource.add_dataframe_asset(name=data_asset_name, dataframe= df_ana)
except:
    print("The data asset already exists. The required one will be loaded.")
    data_asset = datasource.get_asset(data_asset_name)

In [160]:
data_asset_name = "project_ref"
try:
    data_asset = datasource.add_dataframe_asset(name=data_asset_name, dataframe= df_ref)
except:
    print("The data asset already exists. The required one will be loaded.")
    data_asset = datasource.get_asset(data_asset_name)

## Build expectations

In [164]:
# import logging
# from typing import Any, Dict, Tuple

# import numpy as np
# import pandas as pd
# from datetime import datetime
# import re

from great_expectations.core import ExpectationSuite, ExpectationConfiguration

# from pathlib import Path

# from kedro.config import OmegaConfigLoader
# from kedro.framework.project import settings

# conf_path = str(Path('') / settings.CONF_SOURCE)
# conf_loader = OmegaConfigLoader(conf_source=conf_path)
# credentials = conf_loader["credentials"]


# logger = logging.getLogger(__name__)

def build_expectation_suite(expectation_suite_name: str, feature_group: str) -> ExpectationSuite:
    """
    Builder used to retrieve an instance of the validation expectation suite.
    
    Args:
        expectation_suite_name (str): A dictionary with the feature group name and the respective version.
        feature_group (str): Feature group used to construct the expectations.
             
    Returns:
        ExpectationSuite: A dictionary containing all the expectations for this particular feature group.
    """
    
    expectation_suite_bank = ExpectationSuite(
        expectation_suite_name=expectation_suite_name
    )
    

    # numerical features
    if feature_group == 'numerical_features':
        for i in ['no_of_dependents', 'segment_id', 'industry_id', 'legal_doc_name1_id', 'new_id']:
                expectation_suite_bank.add_expectation(
                    ExpectationConfiguration(
                        expectation_type="expect_column_values_to_be_of_type",
                        kwargs={"column": i, "type_": "int64"},
                    )
                )
        # NewId
        expectation_suite_bank.add_expectation(
            ExpectationConfiguration(
                expectation_type="expect_column_values_to_not_be_null",
                kwargs={"column": "new_id"}
            )
        )
        # YrNetMonthlyIn
        expectation_suite_bank.add_expectation(
            ExpectationConfiguration(
                expectation_type="expect_column_values_to_be_of_type",
                kwargs={"column": "yr_net_monthly_in", "type_": "float64"}
            )
        )
        for i in ['yr_net_monthly_in', 'no_of_dependents', 'segment_id', 'industry_id', 'legal_doc_name1_id', 'new_id']:
            expectation_suite_bank.add_expectation(
                ExpectationConfiguration(
                    expectation_type="expect_column_values_to_be_between",
                    kwargs={
                        "column": i,
                        "min_value": -1,
                        "strict_min": False,
                        "max_value": None  # No upper bound
                    }
                )
            )
    # datetime features
    if feature_group == 'datetime_features':
        for i in ['customer_since', 'date_of_birth', 'birth_in_corp_date', 'legal_iss_date', 'legal_exp_date']:
            expectation_suite_bank.add_expectation(
            ExpectationConfiguration(
                expectation_type="expect_column_values_to_match_strftime_format",
                kwargs={"column": i, 'strftime_format': '%Y-%m-%d'}
            )
        )
            # expectation_suite_bank.add_expectation(
            #     ExpectationConfiguration(
            #         expectation_type="expect_column_values_to_be_of_type",
            #         kwargs={"column": i, 'type_':"datetime64[ns]"},
            #     )
            # ) 
        # CustomerSince
        expectation_suite_bank.add_expectation(
            ExpectationConfiguration(
                expectation_type="expect_column_values_to_not_be_null",
                kwargs={"column": "customer_since"}
            )
        )
        # # legal_exp_date
        # expectation_suite_bank.add_expectation(
        #     ExpectationConfiguration(
        #         expectation_type="expect_column_values_to_match_strftime_format",
        #         kwargs={"column": 'legal_exp_date', 'strftime_format': '%Y-%m-%d'}
        #     )
        # )
        
    return expectation_suite_bank

In [165]:
validation_expectation_suite_numerical = build_expectation_suite("numerical_expectations", "numerical_features")
validation_expectation_suite_datetime = build_expectation_suite("datetime_expectations", "datetime_features")

In [166]:
context.add_or_update_expectation_suite(expectation_suite=validation_expectation_suite_numerical)
context.add_or_update_expectation_suite(expectation_suite=validation_expectation_suite_datetime)

{
  "expectation_suite_name": "datetime_expectations",
  "ge_cloud_id": null,
  "expectations": [
    {
      "expectation_type": "expect_column_values_to_match_strftime_format",
      "kwargs": {
        "column": "customer_since",
        "strftime_format": "%Y-%m-%d"
      },
      "meta": {}
    },
    {
      "expectation_type": "expect_column_values_to_match_strftime_format",
      "kwargs": {
        "column": "date_of_birth",
        "strftime_format": "%Y-%m-%d"
      },
      "meta": {}
    },
    {
      "expectation_type": "expect_column_values_to_match_strftime_format",
      "kwargs": {
        "column": "birth_in_corp_date",
        "strftime_format": "%Y-%m-%d"
      },
      "meta": {}
    },
    {
      "expectation_type": "expect_column_values_to_match_strftime_format",
      "kwargs": {
        "column": "legal_iss_date",
        "strftime_format": "%Y-%m-%d"
      },
      "meta": {}
    },
    {
      "expectation_type": "expect_column_values_to_match_strftime_format",
      "kwargs": {
        "column": "legal_exp_date",
        "strftime_format": "%Y-%m-%d"
      },
      "meta": {}
    },
    {
      "expectation_type": "expect_column_values_to_not_be_null",
      "kwargs": {
        "column": "customer_since"
      },
      "meta": {}
    }
  ],
  "data_asset_type": null,
  "meta": {
    "great_expectations_version": "0.18.12"
  }
}

## Analysis

In [167]:
def get_validation_results(checkpoint_result):
    # validation_result is a dictionary containing one key-value pair
    validation_result_key, validation_result_data = next(iter(checkpoint_result["run_results"].items()))

    # Accessing the 'actions_results' from the validation_result_data
    validation_result_ = validation_result_data.get('validation_result', {})

    # Accessing the 'results' from the validation_result_data
    results = validation_result_["results"]
    meta = validation_result_["meta"]
    use_case = meta.get('expectation_suite_name')
    
    
    df_validation = pd.DataFrame({},columns=["Success","Expectation Type","Column","Column Pair","Max Value",\
                                       "Min Value","Element Count","Unexpected Count","Unexpected Percent","Value Set","Unexpected Value","Observed Value"])
    
    
    for result in results:
        # Process each result dictionary as needed
        success = result.get('success', '')
        expectation_type = result.get('expectation_config', {}).get('expectation_type', '')
        column = result.get('expectation_config', {}).get('kwargs', {}).get('column', '')
        column_A = result.get('expectation_config', {}).get('kwargs', {}).get('column_A', '')
        column_B = result.get('expectation_config', {}).get('kwargs', {}).get('column_B', '')
        value_set = result.get('expectation_config', {}).get('kwargs', {}).get('value_set', '')
        max_value = result.get('expectation_config', {}).get('kwargs', {}).get('max_value', '')
        min_value = result.get('expectation_config', {}).get('kwargs', {}).get('min_value', '')

        element_count = result.get('result', {}).get('element_count', '')
        unexpected_count = result.get('result', {}).get('unexpected_count', '')
        unexpected_percent = result.get('result', {}).get('unexpected_percent', '')
        observed_value = result.get('result', {}).get('observed_value', '')
        if type(observed_value) is list:
            #sometimes observed_vaue is not iterable
            unexpected_value = [item for item in observed_value if item not in value_set]
        else:
            unexpected_value=[]
        
        df_validation = pd.concat([df_validation, pd.DataFrame.from_dict( [{"Success" :success,"Expectation Type" :expectation_type,"Column" : column,"Column Pair" : (column_A,column_B),"Max Value" :max_value,\
                                           "Min Value" :min_value,"Element Count" :element_count,"Unexpected Count" :unexpected_count,"Unexpected Percent":unexpected_percent,\
                                                  "Value Set" : value_set,"Unexpected Value" :unexpected_value ,"Observed Value" :observed_value}])], ignore_index=True)
        
    return df_validation

In [168]:
data_asset_analysis = datasource.get_asset("project_ana")

In [169]:
batch_request = data_asset_analysis.build_batch_request()

In [170]:
checkpoint = gx.checkpoint.SimpleCheckpoint(
    name="checkpoint_datetime",
    data_context=context,
    validations=[
        {
            "batch_request": batch_request,
            "expectation_suite_name": "datetime_expectations",
        },
    ],
)
checkpoint_result = checkpoint.run()

Calculating Metrics:   0%|          | 0/41 [00:00<?, ?it/s]

In [171]:
df_validation = get_validation_results(checkpoint_result)
df_validation

,Success,Expectation Type,Column,Column Pair,Max Value,Min Value,Element Count,Unexpected Count,Unexpected Percent,Value Set,Unexpected Value,Observed Value
0,True,expect_column_values_to_match_strftime_format,customer_since,"(, )",,,9761,0,0.0,,[],
1,True,expect_column_values_to_not_be_null,customer_since,"(, )",,,9761,0,0.0,,[],
2,True,expect_column_values_to_match_strftime_format,date_of_birth,"(, )",,,9761,0,0.0,,[],
3,True,expect_column_values_to_match_strftime_format,birth_in_corp_date,"(, )",,,9761,0,0.0,,[],
4,True,expect_column_values_to_match_strftime_format,legal_iss_date,"(, )",,,9761,0,0.0,,[],
5,True,expect_column_values_to_match_strftime_format,legal_exp_date,"(, )",,,9761,0,0.0,,[],

In [ ]:
df_validation[df_validation.Success == False]

In [133]:
checkpoint_num = gx.checkpoint.SimpleCheckpoint(
    name="checkpoint_numerical",
    data_context=context,
    validations=[
        {
            "batch_request": batch_request,
            "expectation_suite_name": "numerical_expectations",
        },
    ],
)
checkpoint_result = checkpoint_num.run()

Calculating Metrics:   0%|          | 0/48 [00:00<?, ?it/s]

In [134]:
df_validation = get_validation_results(checkpoint_result)
df_validation

,Success,Expectation Type,Column,Column Pair,Max Value,Min Value,Element Count,Unexpected Count,Unexpected Percent,Value Set,Unexpected Value,Observed Value
0,True,expect_column_values_to_be_of_type,no_of_dependents,"(, )",,,,,,,[],int64
1,True,expect_column_values_to_be_between,no_of_dependents,"(, )",None,-1,9761,0,0.0,,[],
2,True,expect_column_values_to_be_of_type,segment_id,"(, )",,,,,,,[],int64
3,True,expect_column_values_to_be_between,segment_id,"(, )",None,-1,9761,0,0.0,,[],
4,True,expect_column_values_to_be_of_type,industry_id,"(, )",,,,,,,[],int64
5,True,expect_column_values_to_be_between,industry_id,"(, )",None,-1,9761,0,0.0,,[],
6,True,expect_column_values_to_be_of_type,legal_doc_name1_id,"(, )",,,,,,,[],int64
7,True,expect_column_values_to_be_between,legal_doc_name1_id,"(, )",None,-1,9761,0,0.0,,[],
8,True,expect_column_values_to_be_of_type,new_id,"(, )",,,,,,,[],int64
9,True,expect_column_values_to_not_be_null,new_id,"(, )",,,9761,0,0.0,,[],
10,True,expect_column_values_to_be_between,new_id,"(, )",None,-1,9761,0,0.0,,[],
11,True,expect_column_values_to_be_of_type,yr_net_monthly_in,"(, )",,,,,,,[],float64
12,True,expect_column_values_to_be_between,yr_net_monthly_in,"(, )",None,-1,9761,0,0.0,,[],

In [72]:
df_validation[df_validation.Success == False]

Empty DataFrame
Columns: [Success, Expectation Type, Column, Column Pair, Max Value, Min Value, Element Count, Unexpected Count, Unexpected Percent, Value Set, Unexpected Value, Observed Value]
Index: []